{% extends 'base.html' %}

{% block nav_sidebar %}
	{% include 'jif/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Início</a></li>
        <li class="breadcrumb-item">Cadastros</li>
        <li class="breadcrumb-item"><a href="{% url 'modalidade_list' %}">{{modalidade.get_verbose_name}}</a></li>
        <li class="breadcrumb-item active">Visualizar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Visualizar {{modalidade.get_verbose_name}}
        </div>
         <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr class="row1">
                        <th style="width:190px">
                            <span>Nome:</span>
                        </th>
                        <td>
                            <span>{{modalidade.nome}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:190px">
                            <span>Sigla:</span>
                        </th>
                        <td>
                            <span>{{modalidade.sigla}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:190px">
                            <span>Tipo de Modalidade:</span>
                        </th>
                        <td>
                            <span>{{modalidade.tipo_modalidade}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:190px">
                            <span>Tipo:</span>
                        </th>
                        <td>
                            <span>{{modalidade.get_tipo_display}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:190px">
                            <span>Lotação Permitida:</span>
                        </th>
                        <td>
                            <span>{{modalidade.lotacao_permitida}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
             <div class="box-tools pull-left">
                <a href="{% url 'modalidade_list' %}" class="btn btn-primary btn-sm"> Voltar </a>
            </div>
         </div>
    </div>
{% endblock %}
