{% extends '_nav_sidebar.html' %}

{% block nav_top %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'admin:index' %}">
			<i class="fas fa-users"></i>
			<span class="nav-link-text">Grupos e Usuários</span>
		</a>
	</li>
{% endblock %}

{% block nav_links %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon far fa-address-card"></i>
            <p>
                Cadastros
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            {% if perms.jif.view_instituto %}
            <li class="nav-item">
                <a href="{% url 'instituto' %}" class="nav-link">
                    <p>Institutos</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_campus %}
            <li class="nav-item">
                <a href="{% url 'campus' %}" class="nav-link">
                    <p>Campi</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_edicao %}
            <li class="nav-item">
                <a href="{% url 'edicao' %}" class="nav-link">
                    <p>Edições</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_etapa %}
            <li class="nav-item">
                <a href="{% url 'etapa' %}" class="nav-link">
                    <p>Etapas</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_categoria %}
            <li class="nav-item">
                <a href="{% url 'categoria' %}" class="nav-link">
                    <p>Categorias</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_modalidade %}
            <li class="nav-item">
                <a href="{% url 'modalidade' %}" class="nav-link">
                    <p>Modalidades</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_prova %}
            <li class="nav-item">
                <a href="{% url 'prova' %}" class="nav-link">
                    <p>Provas</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_atleta %}
            <li class="nav-item">
                <a href="{% url 'atleta_list' %}" class="nav-link">
                    <p>Atletas</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_inscricao %}
            <li class="nav-item">
                <a href="{% url 'inscricao' %}" class="nav-link">
                    <p>Inscrições</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="{% url 'inscricoes_atletas' %}" class="nav-link" >
            <i class="nav-icon fa fa-file-text-o"></i>
            <p>Fichas de Inscrição</p>
        </a>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon far fa-copy"></i>
            <p>
                Relatórios
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            {% if perms.jif.view_atleta %}
            <li class="nav-item">
                <a href="{% url 'atleta_campus' %}" class="nav-link">
                    <p>Atletas por Campus</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_atleta %}
            <li class="nav-item">
                <a href="{% url 'atleta_modalidade' %}" class="nav-link"><p>
                    Atletas por Modalidade</p>
                </a>
            </li>
            {% endif %}
            {% if perms.jif.view_atleta %}
            <li class="nav-item">
                <a href="{% url 'atleta_tipo_modalidade' %}" class="nav-link">
                    <p>Atletas por Tipo de Modalidades</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    <li class="nav-item">
        <a href="{% url 'grafico' %}" class="nav-link" >
            <i class="nav-icon far fa-chart-bar"></i>
            <p>Gráficos</p>
        </a>
    </li>
{% endblock %}
