{% extends '_nav_sidebar.html' %}
{% block nav_links %}
	<li class="nav-item" data-toggle="tooltip" data-placement="right">
		<a class="nav-link nav-link-collapse collapse" href="#cadastro"
		data-toggle="collapse" data-parent="#linksaccordion">
			<i class="fa fa-fw fa-wrench"></i>
			<span class="nav-link-text">Cadastros</span>
		</a>
		<ul class="sidenav-second-level collapse" id="cadastro">
			{% if perms.jif.view_unidadeorganizacional %}
			<li><a href="{% url 'unidade_organizacional_list' %}">Unidade Organizacional</a></li>
			{% endif %}
			{% if perms.jif.view_tipomodalidade %}
			<li><a href="{% url 'tipo_modalidade_list' %}">Tipo de Modalidade</a></li>
			{% endif %}
			{% if perms.jif.view_modalidade %}
			<li><a href="{% url 'modalidade_list' %}">Modalidade</a></li>
			{% endif %}
			{% if perms.jif.view_atleta %}
			<li><a href="{% url 'atleta_list' %}">Atleta</a></li>
			{% endif %}
			{% if perms.jif.view_inscricao %}
			<li><a href="{% url 'inscricao_list' %}">Inscrição</a></li>
			{% endif %}
		</ul>
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right">
		<a class="nav-link nav-link-collapse collapse" href="#relatorio"
		data-toggle="collapse" data-parent="#linksaccordion">
			<i class="fa fa-fw fa-wrench"></i>
			<span class="nav-link-text">Relatórios</span>
		</a>
		<ul class="sidenav-second-level collapse" id="relatorio">
			<li><a href="{% url 'atleta_campus' %}">Atletas por Campus</a></li>
			<li><a href="{% url 'atleta_modalidade' %}">Atletas por Modalidade</a></li>
			<li><a href="{% url 'atleta_tipo_modalidade' %}">Atletas por Tipo de Modalidade</a></li>
		</ul>
	</li>
{% endblock %}
