{% extends 'base.html' %}

{% block nav_sidebar %}
    {% include 'jif/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Início</a></li>
        <li class="breadcrumb-item">Relatórios</li>
        <li class="breadcrumb-item active">Atletas por Modalidade</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Atletas por Modalidade
        </div>

        <div class="card-body">
            <form action="{% url 'atleta_modalidade' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="default" value="Enviar">
            </form>
        </div>

        {% if inscricoes %}
        <div class="results">
            <table id="result_list" class="table table-hover table-striped">
                <thead>
                    <tr>
                        {% if mostrar_modalidade %}
                        <th><div class="text">Modalidade</div></th>
                        {% endif %}
                        <th><div class="text">Nome do Atleta</div></th>
                        <th><div class="text">Matrícula</div></th>
                        <th><div class="text">Campus</div></th>
                        <th><div class="text">Prova</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in inscricoes %}
                    <tr class="row1">
                        {% if mostrar_modalidade %}
                        <td>
                            <span>{{inscricao.edicao_prova.edicao_modalidade}}</span>
                        </td>
                        {% endif %}
                        <td>
                            <span>{{inscricao.atleta.nome}}</span>
                        </td>
                        <td>
                            <span>{{inscricao.atleta.matricula}}</span>
                        </td>
                        <td>
                            <span>{{inscricao.campus.nome}}</span>
                        </td>
                        <td>
                            <span>{{inscricao.edicao_prova.prova}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}
