{% extends 'base.html' %}

{% block nav_sidebar %}
	{% include 'jif/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Início</a></li>
        <li class="breadcrumb-item">Cadastros</li>
        <li class="breadcrumb-item"><a href="{% url 'edicao' %}">Edição</a></li>
        <li class="breadcrumb-item active">Excluir Modalidade da Edição</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Excluir {{edicao_modalidade.get_verbose_name}}
        </div>
         <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>Você tem certeza que deseja excluir '{{ edicao_modalidade }}' ?</p>
                <div class="box-tools pull-left">
                    <input type="submit" class="btn btn-danger btn-sm" value="Excluir">
                    <a href="/edicao/{{edicao_id}}/update" class="btn btn-primary btn-sm">Cancelar</a>
                </div>
            </form>
         </div>
    </div>
{% endblock %}
