<!-- JavaScript principais -->
{% load static %}

<!-- JavaScript JQuery -->
<script src="{% static 'bibliotecas/jquery/jquery.min.js' %}"></script>
<!-- JavaScript Bootstrap -->
<script src="{% static 'bibliotecas/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- JavaScript JQuery-Easing -->
<script src="{% static 'bibliotecas/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- JavaScript DataTables -->
<script src="{% static 'bibliotecas/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'bibliotecas/datatables/dataTables.bootstrap4.js' %}"></script>
<!-- JavaScript Sidebar -->
<script src="{% static 'js/sb-admin.min.js' %}"></script>
<script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
