<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
        <title>Título Sistema</title>

        {% block stylesheets %}
            {% include '_styles.html' %}
        {% endblock %}

    </head>
    <body class="bg-dark fixed-nav sticky-footer">
    {% block body %}

        {% block nav_sidebar %}
            {% include '_nav_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
            {% include '_content.html' %}
        {% endblock %}

        {% block nav_footer %}
            {% include '_footer.html' %}
        {% endblock %}

        {% block javascript %}
            {% include '_scripts.html' %}
        {% endblock %}

    {% endblock %}
    </body>
</html>
