{% extends 'base.html' %}

{% block nav_sidebar %}
	{% include 'jif/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Início</a></li>
        <li class="breadcrumb-item">Cadastros</li>
        <li class="breadcrumb-item"><a href="{% url 'inscricao' %}">{{inscricao.get_verbose_name_plural}}</a></li>
        <li class="breadcrumb-item active">Visualizar</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Visualizar {{inscricao.get_verbose_name}}
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width:190px">
                            <span>Número:</span>
                        </th>
                        <td>
                            <span>{{inscricao.id}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>Atleta:</span>
                        </th>
                        <td>
                            <span>{{inscricao.atleta}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>Capus:</span>
                        </th>
                        <td>
                            <span>{{inscricao.campus}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>Etapa:</span>
                        </th>
                        <td>
                            <span>{{inscricao.etapa}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>Prova:</span>
                        </th>
                        <td>
                            <span>{{inscricao.edicao_prova}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>
                                <span>Data do Cadastro</span>
                            </th>
                            <th>
                                <span>Data da Última Alteração</span>
                            </th>
                            <th>
                                <span>Ativo</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>{{inscricao.data_hora_cadastro}}</span>
                            </td>
                            <td>
                                <span>{{inscricao.data_hora_ultima_alteracao}}</span>
                            </td>
                            <td>
                                {% if inscricao.ativo %}
                                <i class="fa fa-check text-success" title="Sim"></i>
                                {% else %}
                                <i class="fa fa fa-remove text-danger" title="Não"></i>
                                {% endif %}
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="box-tools pull-left">
                <a href="{% url 'inscricao' %}" class="btn btn-primary btn-sm"> Voltar </a>
            </div>
        </div>
    </div>
{% endblock %}
